*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: 'Raleway', sans-serif;
	scroll-behavior: smooth;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
[id] {
	scroll-margin-top: 5.8rem;
}
